#instructions-th {
      border-color: #ccc;
    font-size: 14px;
    padding: 8px 36px 8px 16px;
}

#instructions-en .form-select:focus {
    border-color: #1a56db;
    box-shadow: 0 0 0 0.2rem rgba(26, 86, 219, 0.15);
}

#instructions-en .form-control {
    border-color: #ccc;
    font-size: 14px;
    resize: vertical;
}

#instructions-en .form-control:focus {
    border-color: #1a56db;
    box-shadow: 0 0 0 0.2rem rgba(26, 86, 219, 0.15);
}