
    <div class="container">

        <div class="header">
            <div class="title">
                <!-- logo -->
                <p>Clinical Instructions(EN)</p>
            </div>
            <div class="drop-down">
                <select name="">
                    <option hidden selected>-- กรุณาเลือกข้อมูล --</option>
                    <option value="">Indications</option>
                    <option value="">Dosage</option>
                    <option value="">Drug Adminstration</option>
                    <option value="">Recommendation</option>
                    <option value="">Warning And Precautions</option>
                    <option value="">Special Precautions</option>
                </select>
            </div>
        </div>
        <div class="content">
            <input type="text">
        </div>

    </div>
