
<div class="container mt-3">
    <div class="card p-4 border-0 shadow-sm bg-white" style="border-radius: 8px;">

        <p class="text-danger small text-center fw-bold">
            Route of Administration (กรุณา Click 
            <span class="bi bi-clipboard2-plus-fill" style="color: #14AE5C;"></span> เพื่อเพิ่มข้อมูล, 
            <span class="bi bi-clipboard2-x-fill" style="color: #FF0400;"></span> เพื่อลบข้อมูล)
        </p>

        <table class="table table-bordered text-center align-middle m-0">
            <thead class="table-header">
                <tr>
                    <th style="width:70px">No.</th>
                    <th>Route of Administration</th>
                    <th style="width:80px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>SUBCUTANEOUS</td>
                    <td>
                        <button class="bi bi-clipboard2-x-fill btn border-0 bg-transparent p-0" style="color: #FF0400;"></button>
                    </td>
                </tr>
                <tr class="table-light">
                    <td></td>
                    <td>
                        <select class="form-select form-select-sm mx-auto" style="max-width: 300px;">
                            <option value="" selected disabled>-- กรุณาเลือกข้อมูล --</option>
                            <option value="AURICULAR (OTIC)">AURICULAR (OTIC)</option>
                            <option value="BUCCAL">BUCCAL</option>
                            <option value="BUCCAL; ORAL;">BUCCAL; ORAL;</option>
                            <option value="CONJUNCTIVAL">CONJUNCTIVAL</option>
                            <option value="CUTANEOUS">CUTANEOUS</option>
                            <option value="DENTAL">DENTAL</option>
                            <option value="ENTERAL">ENTERAL</option>
                        </select>
                    </td>
                    <td>
                        <button class="bi bi-clipboard2-plus-fill btn border-0 bg-transparent p-0" style="color: #14AE5C;"></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div> </div>   