
<div class="container mt-3">
    <div class="card p-4 border-0 shadow-sm bg-white" style="border-radius: 8px;">

        <p class="text-danger small text-center fw-bold">
            Route of Administration (กรุณา Click 
            <span class="bi bi-clipboard2-plus-fill" style="color: #14AE5C;"></span> เพื่อเพิ่มข้อมูล, 
            <span class="bi bi-clipboard2-x-fill" style="color: #FF0400;"></span> เพื่อลบข้อมูล)
        </p>

        <table class="table table-bordered text-center align-middle m-0">
            <thead class="table-header">
                <tr>
                    <th style="width:70px">No.</th>
                    <th>Route of Administration</th>
                    <th style="width:80px">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>SUBCUTANEOUS</td>
                    <td>
                        <button class="bi bi-clipboard2-x-fill btn border-0 bg-transparent p-0" style="color: #FF0400;"></button>
                    </td>
                </tr>
                <tr class="table-light">
                    <td></td>
                    <td>
                        <select class="form-select form-select-sm mx-auto" style="max-width: 300px;">
                            <option value="" selected disabled>-- กรุณาเลือกข้อมูล --</option>
                            <option value="AURICULAR (OTIC)">AURICULAR (OTIC)</option>
<option value="BUCCAL">BUCCAL</option>
<option value="BUCCAL; TRANSMUCOSAL">BUCCAL; TRANSMUCOSAL</option>
<option value="BUCCAL; TRANSMUCOSAL; ORAL">BUCCAL; TRANSMUCOSAL; ORAL</option>
<option value="CONJUNCTIVAL">CONJUNCTIVAL</option>
<option value="CUTANEOUS">CUTANEOUS</option>
<option value="DENTAL">DENTAL</option>
<option value="DENTAL; INFILTRATION">DENTAL; INFILTRATION</option>
<option value="DENTAL; ORAL; PERIODONTAL">DENTAL; ORAL; PERIODONTAL</option>
<option value="DENTAL; ORAL; TOPICAL">DENTAL; ORAL; TOPICAL</option>
<option value="DENTAL; PERIODONTAL; ORAL">DENTAL; PERIODONTAL; ORAL</option>
<option value="DENTAL; TOPICAL; ORAL">DENTAL; TOPICAL; ORAL</option>
<option value="ENDOSINUSIAL">ENDOSINUSIAL</option>
<option value="ENDOTRACHEAL">ENDOTRACHEAL</option>
<option value="ENDOTRACHEAL; ORAL; INTRAGASTRIC; RESPIRATORY (INHALATION)">ENDOTRACHEAL; ORAL; INTRAGASTRIC; RESPIRATORY (INHALATION)</option>
<option value="ENTERAL">ENTERAL</option>
<option value="EPIDURAL">EPIDURAL</option>
<option value="EPIDURAL; INFILTRATION">EPIDURAL; INFILTRATION</option>
<option value="EPIDURAL; INFILTRATION; INTRACAUDAL">EPIDURAL; INFILTRATION; INTRACAUDAL</option>
<option value="EPIDURAL; INFILTRATION; INTRACAUDAL; PERINEURAL">EPIDURAL; INFILTRATION; INTRACAUDAL; PERINEURAL</option>
<option value="EPIDURAL; INFILTRATION; PERINEURAL">EPIDURAL; INFILTRATION; PERINEURAL</option>
<option value="EPIDURAL; INFILTRATION; PERINEURAL; INTRACAUDAL">EPIDURAL; INFILTRATION; PERINEURAL; INTRACAUDAL</option>
<option value="EPIDURAL; INTRACAUDAL">EPIDURAL; INTRACAUDAL</option>
<option value="EPIDURAL; INTRACAUDAL; INFILTRATION">EPIDURAL; INTRACAUDAL; INFILTRATION</option>
<option value="EPIDURAL; INTRACAUDAL; PERINEURAL">EPIDURAL; INTRACAUDAL; PERINEURAL</option>
<option value="EPIDURAL; INTRACAUDAL; PERINEURAL; INFILTRATION">EPIDURAL; INTRACAUDAL; PERINEURAL; INFILTRATION</option>
<option value="EPIDURAL; INTRATHECAL; INTRAVENOUS">EPIDURAL; INTRATHECAL; INTRAVENOUS</option>
<option value="EPIDURAL; INTRAVENOUS; INTRATHECAL">EPIDURAL; INTRAVENOUS; INTRATHECAL</option>
<option value="EPIDURAL; PERCUTANEOUS; TOPICAL">EPIDURAL; PERCUTANEOUS; TOPICAL</option>
<option value="EPIDURAL; PERINEURAL; INFILTRATION">EPIDURAL; PERINEURAL; INFILTRATION</option>
<option value="EPIDURAL; PERINEURAL; INTRACAUDAL">EPIDURAL; PERINEURAL; INTRACAUDAL</option>
<option value="EPIDURAL; PERINEURAL; INTRACAUDAL; INFILTRATION">EPIDURAL; PERINEURAL; INTRACAUDAL; INFILTRATION</option>
<option value="EPIDURAL; RETROBULBAR">EPIDURAL; RETROBULBAR</option>
<option value="EPIDURAL; TOPICAL">EPIDURAL; TOPICAL</option>
<option value="EPIDURAL; TOPICAL; PERCUTANEOUS">EPIDURAL; TOPICAL; PERCUTANEOUS</option>
<option value="EXTRACORPOREAL">EXTRACORPOREAL</option>
<option value="INFILTRATION">INFILTRATION</option>
<option value="INFILTRATION; INTRAVENOUS">INFILTRATION; INTRAVENOUS</option>
<option value="INFILTRATION; PERINEURAL">INFILTRATION; PERINEURAL</option>
<option value="INTRA-ARTERIAL">INTRA-ARTERIAL</option>
<option value="INTRA-ARTERIAL; INTRAVENOUS">INTRA-ARTERIAL; INTRAVENOUS</option>
<option value="INTRA-ARTICULAR; INTRABURSAL; INTRADERMAL; INTRALESIONAL">INTRA-ARTICULAR; INTRABURSAL; INTRADERMAL; INTRALESIONAL</option>
<option value="INTRA-ARTICULAR; INTRALESIONAL">INTRA-ARTICULAR; INTRALESIONAL</option>
<option value="INTRABRONCHIAL">INTRABRONCHIAL</option>
<option value="INTRACARDIAC; INTRAVENOUS">INTRACARDIAC; INTRAVENOUS</option>
<option value="INTRACAVERNOUS">INTRACAVERNOUS</option>
<option value="INTRACAVITARY">INTRACAVITARY</option>
<option value="INTRACAVITARY; INTRAVENOUS">INTRACAVITARY; INTRAVENOUS</option>
<option value="INTRACAVITARY; INTRAVENOUS; INTRAVESICAL">INTRACAVITARY; INTRAVENOUS; INTRAVESICAL</option>
<option value="INTRADERMAL">INTRADERMAL</option>
<option value="INTRADERMAL; CUTANEOUS; SUBCUTANEOUS">INTRADERMAL; CUTANEOUS; SUBCUTANEOUS</option>
<option value="INTRADERMAL; PERCUTANEOUS; SUBCUTANEOUS">INTRADERMAL; PERCUTANEOUS; SUBCUTANEOUS</option>
<option value="INTRADERMAL; SUBCONJUNCTIVAL">INTRADERMAL; SUBCONJUNCTIVAL</option>
<option value="INTRADERMAL; SUBCUTANEOUS">INTRADERMAL; SUBCUTANEOUS</option>
<option value="INTRADERMAL; SUBCUTANEOUS; CUTANEOUS">INTRADERMAL; SUBCUTANEOUS; CUTANEOUS</option>
<option value="INTRADERMAL; SUBCUTANEOUS; PERCUTANEOUS">INTRADERMAL; SUBCUTANEOUS; PERCUTANEOUS</option>
<option value="INTRAGASTRIC">INTRAGASTRIC</option>
<option value="INTRAGINGIVAL">INTRAGINGIVAL</option>
<option value="INTRALESIONAL">INTRALESIONAL</option>
<option value="INTRALESIONAL; PARENTERAL">INTRALESIONAL; PARENTERAL</option>
<option value="INTRAMUSCULAR">INTRAMUSCULAR</option>
<option value="INTRAMUSCULAR; INTRA-ARTERIAL; INTRATHECAL; INTRAVENOUS">INTRAMUSCULAR; INTRA-ARTERIAL; INTRATHECAL; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRA-ARTERIAL; INTRAVENOUS; INTRATHECAL">INTRAMUSCULAR; INTRA-ARTERIAL; INTRAVENOUS; INTRATHECAL</option>
<option value="INTRAMUSCULAR; INTRA-ARTICULAR">INTRAMUSCULAR; INTRA-ARTICULAR</option>
<option value="INTRAMUSCULAR; INTRA-ARTICULAR; INTRALESIONAL">INTRAMUSCULAR; INTRA-ARTICULAR; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; INTRA-ARTICULAR; INTRASYNOVIAL; INTRALESIONAL; SOFT TISSUE">INTRAMUSCULAR; INTRA-ARTICULAR; INTRASYNOVIAL; INTRALESIONAL; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL">INTRAMUSCULAR; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL; SOFT TISSUE">INTRAMUSCULAR; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; INTRACARDIAC; INTRAVENOUS; SUBCUTANEOUS">INTRAMUSCULAR; INTRACARDIAC; INTRAVENOUS; SUBCUTANEOUS</option>
<option value="INTRAMUSCULAR; INTRACARDIAC; SUBCUTANEOUS; INTRAVENOUS">INTRAMUSCULAR; INTRACARDIAC; SUBCUTANEOUS; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRADERMAL; SUBCUTANEOUS; INTRAVENOUS">INTRAMUSCULAR; INTRADERMAL; SUBCUTANEOUS; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRADERMAL; SUBCUTANEOUS; INTRAVENOUS; INTRAMUSCULAR">INTRAMUSCULAR; INTRADERMAL; SUBCUTANEOUS; INTRAVENOUS; INTRAMUSCULAR</option>
<option value="INTRAMUSCULAR; INTRALESIONAL; INTRA-ARTICULAR">INTRAMUSCULAR; INTRALESIONAL; INTRA-ARTICULAR</option>
<option value="INTRAMUSCULAR; INTRAPERITONEAL; INTRAPLEURAL; INTRAVASCULAR">INTRAMUSCULAR; INTRAPERITONEAL; INTRAPLEURAL; INTRAVASCULAR</option>
<option value="INTRAMUSCULAR; INTRAPERITONEAL; INTRAVASCULAR; INTRAPLEURAL">INTRAMUSCULAR; INTRAPERITONEAL; INTRAVASCULAR; INTRAPLEURAL</option>
<option value="INTRAMUSCULAR; INTRAPLEURAL; INTRAVASCULAR; INTRATHECAL">INTRAMUSCULAR; INTRAPLEURAL; INTRAVASCULAR; INTRATHECAL</option>
<option value="INTRAMUSCULAR; INTRAPLEURAL; INTRAVENOUS; SUBCUTANEOUS">INTRAMUSCULAR; INTRAPLEURAL; INTRAVENOUS; SUBCUTANEOUS</option>
<option value="INTRAMUSCULAR; INTRAPLEURAL; SUBCUTANEOUS; INTRAVENOUS">INTRAMUSCULAR; INTRAPLEURAL; SUBCUTANEOUS; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRASYNOVIAL; INTRALESIONAL; SOFT TISSUE">INTRAMUSCULAR; INTRASYNOVIAL; INTRALESIONAL; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; INTRASYNOVIAL; SOFT TISSUE">INTRAMUSCULAR; INTRASYNOVIAL; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; INTRASYNOVIAL; SOFT TISSUE; INTRAMUSCULAR">INTRAMUSCULAR; INTRASYNOVIAL; SOFT TISSUE; INTRAMUSCULAR</option>
<option value="INTRAMUSCULAR; INTRATHECAL; INTRAVENOUS; INTRAPLEURAL">INTRAMUSCULAR; INTRATHECAL; INTRAVENOUS; INTRAPLEURAL</option>
<option value="INTRAMUSCULAR; INTRATHECAL; INTRAVENOUS; OPHTHALMIC">INTRAMUSCULAR; INTRATHECAL; INTRAVENOUS; OPHTHALMIC</option>
<option value="INTRAMUSCULAR; INTRATHECAL; OPHTHALMIC; INTRAVENOUS">INTRAMUSCULAR; INTRATHECAL; OPHTHALMIC; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRAVASCULAR">INTRAMUSCULAR; INTRAVASCULAR</option>
<option value="INTRAMUSCULAR; INTRAVENOUS">INTRAMUSCULAR; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; INTRA-ARTERIAL; INTRATHECAL">INTRAMUSCULAR; INTRAVENOUS; INTRA-ARTERIAL; INTRATHECAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; INTRALESIONAL; INTRA-ARTICULAR; SOFT TISSUE">INTRAMUSCULAR; INTRAVENOUS; INTRALESIONAL; INTRA-ARTICULAR; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; OPHTHALMIC; INTRATHECAL">INTRAMUSCULAR; INTRAVENOUS; OPHTHALMIC; INTRATHECAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; PARENTERAL">INTRAMUSCULAR; INTRAVENOUS; PARENTERAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; RECTAL">INTRAMUSCULAR; INTRAVENOUS; RECTAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; SUBCONJUNCTIVAL">INTRAMUSCULAR; INTRAVENOUS; SUBCONJUNCTIVAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS">INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS; INTRADERMAL">INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS; INTRADERMAL</option>
<option value="INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS; INTRAPLEURAL">INTRAMUSCULAR; INTRAVENOUS; SUBCUTANEOUS; INTRAPLEURAL</option>
<option value="INTRAMUSCULAR; PARENTERAL; INTRAVENOUS">INTRAMUSCULAR; PARENTERAL; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; PARENTERAL; SUBCUTANEOUS">INTRAMUSCULAR; PARENTERAL; SUBCUTANEOUS</option>
<option value="INTRAMUSCULAR; RECTAL; INTRAVENOUS">INTRAMUSCULAR; RECTAL; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRASYNOVIAL; INTRALESIONAL">INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRASYNOVIAL; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL">INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL; SOFT TISSUE">INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; INTRAVENOUS; INTRALESIONAL; SOFT TISSUE</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; PARENTERAL; INTRALESIONAL">INTRAMUSCULAR; SOFT TISSUE; INTRA-ARTICULAR; PARENTERAL; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRASYNOVIAL">INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRASYNOVIAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRASYNOVIAL; INTRA-ARTICULAR">INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRASYNOVIAL; INTRA-ARTICULAR</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRAVENOUS; INTRA-ARTICULAR">INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; INTRAVENOUS; INTRA-ARTICULAR</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; PARENTERAL; INTRA-ARTICULAR">INTRAMUSCULAR; SOFT TISSUE; INTRALESIONAL; PARENTERAL; INTRA-ARTICULAR</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRASYNOVIAL">INTRAMUSCULAR; SOFT TISSUE; INTRASYNOVIAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRASYNOVIAL; INTRALESIONAL">INTRAMUSCULAR; SOFT TISSUE; INTRASYNOVIAL; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; SOFT TISSUE; INTRAVENOUS; INTRASYNOVIAL">INTRAMUSCULAR; SOFT TISSUE; INTRAVENOUS; INTRASYNOVIAL</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS">INTRAMUSCULAR; SUBCUTANEOUS</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS; INTRALESIONAL">INTRAMUSCULAR; SUBCUTANEOUS; INTRALESIONAL</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS">INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRACARDIAC">INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRACARDIAC</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRADERMAL">INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRADERMAL</option>
<option value="INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRAPLEURAL">INTRAMUSCULAR; SUBCUTANEOUS; INTRAVENOUS; INTRAPLEURAL</option>
<option value="INTRAOCULAR">INTRAOCULAR</option>
<option value="INTRAOCULAR; OPHTHALMIC">INTRAOCULAR; OPHTHALMIC</option>
<option value="INTRAPERITONEAL">INTRAPERITONEAL</option>
<option value="INTRASPINAL">INTRASPINAL</option>
<option value="INTRATHECAL">INTRATHECAL</option>
<option value="INTRATHECAL; INTRAVENOUS; ORAL; INTRAVASCULAR">INTRATHECAL; INTRAVENOUS; ORAL; INTRAVASCULAR</option>
<option value="INTRATHECAL; INTRAVENOUS; SUBCUTANEOUS">INTRATHECAL; INTRAVENOUS; SUBCUTANEOUS</option>
<option value="INTRATHECAL; ORAL; INTRAVASCULAR; INTRAVENOUS">INTRATHECAL; ORAL; INTRAVASCULAR; INTRAVENOUS</option>
<option value="INTRATHECAL; SUBCUTANEOUS; INTRAVENOUS">INTRATHECAL; SUBCUTANEOUS; INTRAVENOUS</option>
<option value="INTRAUTERINE">INTRAUTERINE</option>
<option value="INTRAVASCULAR">INTRAVASCULAR</option>
<option value="INTRAVASCULAR; INTRAVENOUS">INTRAVASCULAR; INTRAVENOUS</option>
<option value="INTRAVASCULAR; ORAL; INTRAVENOUS">INTRAVASCULAR; ORAL; INTRAVENOUS</option>
<option value="INTRAVENOUS">INTRAVENOUS</option>
<option value="INTRAVENOUS; PARENTERAL">INTRAVENOUS; PARENTERAL</option>
<option value="INTRAVENOUS; SUBCUTANEOUS">INTRAVENOUS; SUBCUTANEOUS</option>
<option value="INTRAVESICAL">INTRAVESICAL</option>
<option value="INTRAVITREAL">INTRAVITREAL</option>
<option value="IRRIGATION">IRRIGATION</option>
<option value="NASAL">NASAL</option>
<option value="NASAL; OPHTHALMIC">NASAL; OPHTHALMIC</option>
<option value="NASOGASTRIC; ORAL">NASOGASTRIC; ORAL</option>
<option value="NOT APPLICABLE">NOT APPLICABLE</option>
<option value="NULL">NULL</option>
<option value="OPHTHALMIC">OPHTHALMIC</option>
<option value="OPHTHALMIC; TOPICAL">OPHTHALMIC; TOPICAL</option>
<option value="ORAL">ORAL</option>
<option value="ORAL; NOT APPLICABLE">ORAL; NOT APPLICABLE</option>
<option value="ORAL; RECTAL">ORAL; RECTAL</option>
<option value="ORAL; SUBLINGUAL">ORAL; SUBLINGUAL</option>
<option value="ORAL; TOPICAL">ORAL; TOPICAL</option>
<option value="OROPHARYNGEAL">OROPHARYNGEAL</option>
<option value="PARENTERAL">PARENTERAL</option>
<option value="PERCUTANEOUS">PERCUTANEOUS</option>
<option value="PERINEURAL">PERINEURAL</option>
<option value="PERIODONTAL">PERIODONTAL</option>
<option value="RECTAL">RECTAL</option>
<option value="RECTAL; TOPICAL">RECTAL; TOPICAL</option>
<option value="RESPIRATORY (INHALATION)">RESPIRATORY (INHALATION)</option>
<option value="RESPIRATORY (INHALATION); NASAL">RESPIRATORY (INHALATION); NASAL</option>
<option value="RESPIRATORY (INHALATION); ORAL">RESPIRATORY (INHALATION); ORAL</option>
<option value="RETROBULBAR; TOPICAL">RETROBULBAR; TOPICAL</option>
<option value="SUBARACHNOID">SUBARACHNOID</option>
<option value="SUBCUTANEOUS">SUBCUTANEOUS</option>
<option value="SUBCUTANEOUS; PERCUTANEOUS">SUBCUTANEOUS; PERCUTANEOUS</option>
<option value="SUBLINGUAL">SUBLINGUAL</option>
<option value="SUBMUCOSAL">SUBMUCOSAL</option>
<option value="TOPICAL">TOPICAL</option>
<option value="TOPICAL; CUTANEOUS; TRANSDERMAL">TOPICAL; CUTANEOUS; TRANSDERMAL</option>
<option value="TOPICAL; NOT APPLICABLE">TOPICAL; NOT APPLICABLE</option>
<option value="TOPICAL; PERCUTANEOUS; TRANSDERMAL">TOPICAL; PERCUTANEOUS; TRANSDERMAL</option>
<option value="TOPICAL; TRANSDERMAL">TOPICAL; TRANSDERMAL</option>
<option value="TOPICAL; TRANSDERMAL; PERCUTANEOUS">TOPICAL; TRANSDERMAL; PERCUTANEOUS</option>
<option value="TRANSDERMAL">TRANSDERMAL</option>
<option value="TRANSMUCOSAL">TRANSMUCOSAL</option>
<option value="TRANSMUCOSAL; ORAL">TRANSMUCOSAL; ORAL</option>
<option value="URETERAL">URETERAL</option>
<option value="URETHRAL">URETHRAL</option>
<option value="VAGINAL">VAGINAL</option>
                        </select>
                    </td>
                    <td>
                        <button class="bi bi-clipboard2-plus-fill btn border-0 bg-transparent p-0" style="color: #14AE5C;"></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div> </div>   