body {
  background: #e6f4fd;
  font-family: "Sarabun", sans-serif;
}

#main-content > .container, body > .container {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.edit-box {
  height: auto;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  border-radius: 15px;
}

.edit-topic {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-topic-left {
  margin-left: 20px;
  font-size: 24px;
  padding: 20px;
  display: flex;
  gap: 30px;

  svg {
    background-color: #cee7f7;
    border-radius: 50%;
    padding: 6px;
  }
}

.edit-topic a {
  display: flex;
  border: 1px solid #80cfff;
  border-radius: 10px;
  margin-right: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

  transition: 0.3s;

  p {
    color: #2063b8;
    font-weight: bold;
    margin: 0;
  }
}

.edit-topic a:hover {
  transform: translateY(-5px);
  background-color: #eef3ff;
  color: #ffff;
}

.edit-content {
  font-size: 17px;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  .top {
    display: flex;
    gap: 100px;
  }

  .bottom {
    margin-top: 20px;
    color: red;
  }
}

/* ===== LINE ===== */
.edit-line {
  height: 120%;
  height: 3px;
  background-color: #4ba6ef;
  margin-top: 40px;
}

.edit-under-box {
  a {
    text-decoration: none;
    p {
      margin: 0;
    }
  }

  padding-top: 30px;
  gap: 20px;
  display: flex;
  justify-content: flex-end;

  .refresh {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f3fafe;
    border: 1px solid #e8b931;
    color: #e8b931;
    padding: 10px;
    border-radius: 10px;
    padding: 10px 10px;

    transition: 0.2s;
  }

  .refresh:hover {
    transform: translateY(-5px);
    background-color: #eef0df;
  }

  .save {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #14ae5c;
    color: white;
    padding: 10px;
    border-radius: 10px;
    padding: 10px 10px;

    transition: 0.2s;
  }

  .save:hover {
    transform: translateY(-5px);
    background-color: #12db70;
  }
}

/* ===== menu ===== */
.edit-menu {
  justify-items: center;
  margin-top: 40px;
  height: auto;
  background-color: #ffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 40px;
}

.edit-menu a {
  margin: 0;
  padding: 12px 10px;
  text-align: center;
  background: #ffff;
  border-radius: 10px;
  cursor: point er;
  width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;

  transition: 0.2s;
}

.edit-menu .active {
  background-color: #0f46af;
  color: white;
  font-weight: 500;
}

.edit-menu a:hover {
  background-color: #0f46af;
  color: white;
  font-weight: 500;
}
